.password-recovery-body {
  .password-recovery-body__email {
    margin-bottom: 8px;
  }

  .password-recovery-body__new-code-warning {
    margin-bottom: 8px;
  }

  .password-recovery-body__send-code-btn {
    margin-bottom: 16px;
  }
}
