@import './elements/ContactSearch/style';

.contact-list {
  padding: $aside-panel-padding;

  .divider {
    margin-top: $gutter-lg;
  }

  .ant-list-item-meta {
    display: flex;
    align-items: center;
  }

  .ant-list-item-meta-title {
    margin-bottom: 0;
  }

  .ant-list-item-meta-avatar {
    margin-right: 10px;
  }

  .ant-btn-icon-only.ant-btn-lg {
    @include max-width-768 {
      width: 30px;
      height: 30px;
    }
  }

  &__controls {
    display: flex;
    margin-top: 4px;

    .ui-icon--chat {
      margin-top: 2px;
      transform: scale(0.9);
    }
  }
}
