@use '~/global/index' as *;

.contact-list {
  height: calc(100% - 90px);

  .contact-list__scroll-controller {
    padding: 8px 8px 4px 0;
  }

  .contact-list__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .contact-list__list-item {
    padding: 4px;
    border-radius: 4px;
    background: var(--main-bg);
  }
}
