@use '~/global/index' as *;

.content-tab {
  .content-tab__button-el {
    margin: 24px 0;
    padding: 0;
    border: 0;
    background: transparent;
  }

  .content-tab__button-el--active {
    svg {
      fill: var(--accent);
    }
  }

  @include max-width-768 {
    display: flex;

    .content-tab__button-el {
      margin: 0 40px;
    }
  }
}
