.app-banner {
  padding: 8px;
  color: var(--white);
  text-align: center;
  border-radius: 4px;
}

.app-banner--success {
  background-color: var(--success);
}

.app-banner--error {
  background-color: var(--error);
}

.app-banner--warning {
  background-color: var(--warning);
}

.app-banner--info {
  background-color: var(--info);
}
