@use '~/global/index' as *;

.app-link {
  width: fit-content;
  font-size: 12px;
  color: var(--accent);

  &:hover {
    cursor: pointer;
  }
}

.app-link--error-color {
  color: var(--error);
}

.app-link--text-color {
  color: var(--text);
}

.app-link--disabled {
  @include disabled;
}
