@use '~/global/index' as *;

$transition-icon: 0.2s ease-in-out rotate;
$transition-height: 0.2s ease-in-out height;

.app-collapse-list .ant-badge {
  width: 100%;
}

.app-collapse-list__element {
  overflow: hidden;

  width: 100%;
  margin-top: 8px;
  padding: 16px;
  border-radius: 8px;

  background: var(--dark-gray-transparent-3);
}

.app-collapse-list__element.app-collapse-list__element--open .app-collapse__chevron-icon {
  rotate: 90deg;
  transition: $transition-icon;
}

.app-collapse-list__element.app-collapse-list__element--open .app-collapse-list__element-content {
  transition: $transition-height;
}

.app-collapse-list__element-header {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0;
  border: 0;

  font: inherit;
  color: inherit;
  text-align: left;

  background: transparent;
}

.app-collapse-list__element-content {
  height: 0;
  padding-right: 24px;
  transition: $transition-height;
}

.app-collapse-list__element-content-body {
  padding-top: 8px;
}

.app-collapse-list__element-chevron-icon {
  rotate: -90deg;
  margin-left: 8px;
  transition: $transition-icon;
}

.app-collapse-list__element-header-right-side {
  display: flex;
  align-items: center;
}
