@use '~/global/index' as *;

.call-list__body .ant-list-items {
  padding: 4px;
}

.call-list__body .ant-list-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 1rem;
  overflow: hidden;
}

.call-list__body .ant-list-item-meta {
  display: flex;
  align-items: center;
}

.call-list__item {
  margin-bottom: 4px;
  background-color: var(--main-bg);
  border-radius: 4px;
  @include nm-inset-shadow;
}

.call-list__item--current {
  background-color: var(--dark-gray-transparent);
}

.call-list__type {
  display: flex;
}

.call-list__called-at {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.call-list__called-at p {
  color: var(--accent);
  font-size: 10px;
}

.call-list__additional-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call-list__info {
  display: flex;
  align-items: center;
}

.call-list__info p {
  margin-left: 4px;
}

.call-list__info--current {
  color: var(--text);
}

.call-list__info--incoming,
.call-list__info--outgoing {
  color: var(--success);
}

.call-list__info--incoming .icon--phone-call,
.call-list__info--outgoing .icon--phone-call {
  transform: rotate(90deg);
}

.call-list__info--missed,
.call-list__info--not-answered {
  color: var(--error);
}

.call-list__info--missed .icon--phone-call,
.call-list__info--not-answered .icon--phone-call {
  transform: rotate(135deg);
}
