.nmorph-card {
  padding: 8px;
  border-radius: 8px;
}

.nmorph-dialog {
  padding: 16px;
}

.nmorph-dialog__close-icon .nmorph-icon {
  position: relative;
}

.nmorph-dialog__close-icon .nmorph-icon svg {
  display: none;
}

.nmorph-dialog__close-icon .nmorph-icon::before,
.nmorph-dialog__close-icon .nmorph-icon::after {
  position: absolute;
  width: 18px;
  height: 2px;
  background: var(--nmorph-private-icon-color);
  border-radius: 999px;
  content: '';
}

.nmorph-dialog__close-icon .nmorph-icon::before {
  transform: rotate(45deg);
}

.nmorph-dialog__close-icon .nmorph-icon::after {
  transform: rotate(-45deg);
}

.nmorph-alert.nmorph-alert--success .nmorph-alert__icon .nmorph-icon {
  --nmorph-private-icon-color: var(--nmorph-success-color);
}

.nmorph-dropdown.nmorph-dropdown--hide-shadow,
.nmorph-dropdown {
  box-shadow: calc(var(--base-shadow-width) * 2) calc(var(--base-shadow-width) * 2) calc(var(--base-shadow-blur) * 2)
      var(--app-shadow-dark),
    calc(var(--base-shadow-width) * -1) calc(var(--base-shadow-width) * -1) var(--base-shadow-blur)
      var(--app-shadow-dark-soft);
}

.nmorph-context-menu__item {
  gap: 12px;
}

.nmorph-context-menu__item button:not(:disabled, [aria-disabled='true']) {
  cursor: pointer;
}

.nmorph-context-menu__item button:not(:disabled, [aria-disabled='true']) * {
  cursor: inherit;
}

.app-layout__guide-target.nmorph-tooltip {
  display: flex;
  min-width: 0;
  min-height: 0;
}

.app-layout__guide-target > .nmorph-tooltip__content,
.app-layout__guide-target .nmorph-tooltip__trigger {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;

  min-width: 0;
  min-height: 0;
}

.app-layout__guide-target.nmorph-guide-step .nmorph-tooltip__trigger::after {
  inset: 0;
}

.left-bar__navigation-guide-target.nmorph-tooltip {
  display: block;
  margin-block: auto;
}

.left-bar__navigation-guide-target > .nmorph-tooltip__content,
.left-bar__navigation-guide-target .nmorph-tooltip__trigger {
  display: flex;
}

.top-bar__profile-guide-target.nmorph-tooltip {
  min-width: 0;
}

.top-bar__profile-guide-target > .nmorph-tooltip__content,
.top-bar__profile-guide-target .nmorph-tooltip__trigger {
  display: flex;
  min-width: 0;
}

.mobile-nav-footer__navigation-guide-target > .nmorph-tooltip__content,
.mobile-nav-footer__navigation-guide-target .nmorph-tooltip__trigger {
  display: flex;
}
