@use '~/global/index' as *;

.message-menu-reactions {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  width: 100%;
  padding: 4px 0;
  border-bottom: 1px var(--text) solid;

  .message-menu-reactions__element {
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: 20px;
    border-radius: 4px;
  }

  .message-menu-reactions__element:hover {
    background: var(--dark-gray-transparent-3);
  }

  .message-menu-reactions__element--disabled {
    @include disabled;
  }
}
