.ui-switch {
  $toggler-width: 24px;
  $switcher-width: 80px;
  $switcher-height: 32px;
  $transition: left ease-in-out 0.2s;
  --compensation: 4px;
  position: relative;
  &__value-text {
    position: absolute;
    top: 7px;
    left: $toggler-width + 20px;
    font-size: 11px;
    transition: $transition;
    z-index: 1;
    color: var(--secondary-text);
  }
  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: $switcher-width;
    height: $switcher-height;
    background: grey;
    display: block;
    position: relative;
    @include nm-inset-element;
    border-radius: 100px;
  }

  label:after {
    content: '';
    position: absolute;
    top: var(--compensation);
    left: var(--compensation);
    width: $toggler-width;
    height: $toggler-width;
    transition: $transition;
    @include nm-outset-element-sharpen;
    border-radius: $toggler-width;
    z-index: 2;
  }
  &[data-checked='true'] {
    .ui-switch__value-text {
      left: $toggler-width - 12px;
      transition: $transition;
      color: var(--success);
    }
  }

  input:checked + label:after {
    left: calc(100% - var(--compensation));
    transform: translateX(-100%);
  }
}
