.app-error-bucket {
  margin-bottom: 16px;
  padding: 8px;
  border: solid 1px var(--error);
  border-radius: 4px;

  color: var(--text);

  background-color: var(--error-transparent);

  .app-error-bucket__el {
    position: relative;

    &::before {
      content: '';

      position: absolute;
      top: 10px;
      left: 2px;

      width: 5px;
      height: 5px;
      border-radius: 50%;

      background-color: var(--text);
    }

    span {
      margin-bottom: 2px;
      margin-left: 16px;
    }
  }
}
