.short-chat-list {
  max-height: 200px;
  padding: $gutter-lg $gutter-sm $gutter-sm $gutter-sm;

  .short-chat-list__container {
    height: 180px;
    overflow: auto;
  }

  .short-chat-list__subtitle {
    margin-top: $gutter-md;
    color: var(--secondary-text);
  }

  &__item {
    display: flex;
    align-items: center;
    padding: $gutter-md;
    border-radius: $radius-sm;

    &:hover {
      background-color: var(--dark-gray-transparent);
      cursor: pointer;
    }

    .ant-image {
      margin-top: 4px;
    }
  }

  &__name {
    margin-left: $gutter-md;
  }
}
