.git
.gitlab-ci.yml
node_modules
**/node_modules
**/npm-debug.log
.pnpm-store
.turbo
**/.turbo
.desktop-downloads
.env.development
.env.test
.env.secret
dev-certs
scripts/deploy/certs
**/build
**/dist
**/dev-dist
**/*.tsbuildinfo
docs
