./client/node_modules
./client/yarn-error.log
./client/yarn.lock
./client/bundle
./client/eslintcache

./server/node_modules
./server/yarn-error.log
./server/yarn.lock
./server/bundle
./server/eslintcache

./types/node_modules
./types/yarn-error.log
./types/yarn.lock
./types/dist
./types/eslintcache

./db/mongo-init.js