CLAUDE.md
.claude
.vscode
.DS_Store
node_modules
package-lock.json

client/node_modules
client/build
client/eslintcache
client/package-lock.json

server/node_modules
server/package-lock.log
server/build
server/eslintcache

common/node_modules
common/package-lock.log
common/dist
common/eslintcache
common/tsconfig.tsbuildinfo

e2e/playwright-report
e2e/test-results
