.claude
.turbo
.pnpm-store

node_modules
**/node_modules
**/.turbo
**/build
**/dist
**/dev-dist
**/.adminjs
**/*.tsbuildinfo
client/src-tauri/gen/schemas
client/src-tauri/target

pnpm-lock.yaml
package-lock.log

dev-certs
scripts/deploy/certs
e2e/playwright-report
e2e/test-results
