.message-list {
  position: relative;
  flex: 1 1 auto;
}

.message-list__loader {
  height: 100%;
}

.message-list__scroll-down-button {
  position: absolute;
  z-index: 1;
  right: 12px;
  bottom: 12px;
}
