.aside-bar {
  display: flex;
  align-items: center;
  padding: $gutter-sm;
  @include nm-outset-element;

  .ant-radio-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: $container-sm;
    height: 30%;
    margin: 0 auto;
  }
}
