@use '~/global/index' as *;

.app-collapse {
  .app-collapse__element {
    margin-bottom: 8px;
    padding: 16px;
    overflow: hidden;
    background: var(--shadow-outset-start);
    border-radius: 8px;
  }

  summary {
    cursor: pointer;
  }

  .app-collapse__element-content {
    padding-left: 16px;
  }
}
