.sign-in-form-layout {
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__loader-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      margin-bottom: 32px;
      color: var(--accent);
      font-size: 60px;
      stroke-width: 25;
    }
  }
}
