.app-form-item {
  margin-bottom: 8px;
  $transition: 0.1s linear;

  .app-form-item__error {
    height: 0;
    transition: $transition;
    font-size: 12px;
    margin-top: 4px;
    color: var(--error);
    margin-left: 12px;
    display: flex;
    align-items: center;
  }

  .app-form-item__error--active {
    height: 18px;
    transition: $transition;
  }
}
