.message-menu {
  z-index: 2;

  .message-menu__el {
    display: flex;
    align-items: center;
  }

  .message-menu__el-text {
    margin-left: 8px;
  }

  // Reactions menu element
  .ant-dropdown-menu .ant-dropdown-menu-item:first-child:hover {
    background: transparent;
  }
}
