@use '~/global/index' as *;

.auth-tabs-layout {
  @include absolute-center-form;

  .auth-tabs-layout__nav {
    display: flex;
    margin-bottom: 12px;
  }

  .auth-tabs-layout__nav--block {
    @include disabled;
  }

  .auth-tabs-layout__login-link {
    margin-right: 8px;
  }
}
