.modal {
  min-width: 300px;

  .modal__title {
    display: flex;
  }

  .modal__confirmation-actions {
    display: flex;
    grid-gap: 16px;
    justify-content: space-between;
    margin-top: 20px;
  }
}
