.informer {
  width: 100%;
  height: auto;
  padding: $gutter-md;
  display: flex;
  border-radius: $radius-sm;
  &__text {
    margin-top: 1px;
  }
  &__icon {
    margin-right: $gutter-md;
  }
  &--warn {
    background: var(--warn-bg);
  }
  &--success {
    background: var(--success-bg);
  }
  &--error {
    background: var(--error-bg);
  }
}
