@use '~/global/index' as *;

.contact-list {
  height: calc(100% - 90px);

  .contact-list__scroll-controller {
    padding: 8px 4px;
  }

  .contact-list__list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}
