@import './Components/EmojiDropdown/style';

@import './Components/InputMessage/style';

@import './Components/MessageBody/style';

@import './Components/RoomHeader/style';

.chat-room {
  position: relative;
  @include wh-100;

  margin-left: 24px;
  padding: 1rem;
  @include nm-outset-element;
  @include max-width-576 {
    margin-left: 100%;
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__body {
    position: absolute;
    top: $room-header-height;
    width: 100%;
    height: calc(100% - $room-header-height - $input-message-height - 10px);
    overflow: hidden;

    .ant-list-empty-text {
      @include absolute-center;

      white-space: nowrap;
    }

    .ant-list-items {
      padding-right: 10px;
      overflow-y: scroll;
    }

    .ant-list,
    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-list-items {
      height: 100%;
    }

    .ant-list-item {
      border: none;
    }
  }

  &__stub {
    height: 100%;

    @include flex-total-center;

    .paragraph-text {
      cursor: pointer;
    }
  }
}
