.sign-in {
  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        margin-bottom: $gutter-xl;
        color: var(--accent);
        font-size: 60px;
        stroke-width: 25;
      }
    }
  }
  &__forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $gutter-md;
  }
  &__additional__links {
    #container {
      * {
        background-color: var(--main-bg);
        border: 1px solid var(--secondary-text);
      }
    }
    .ui-button {
      margin-bottom: $gutter-md;
    }
  }
}
