@forward './SignIn/style';
@forward './SignUp/style';
@forward './WaitEmailConfirm/style';
@forward './EmailConfirm/style';
@forward './PasswordRecovery/style';
@forward './Main/style';
@forward './CreateNewPassword/style';
@forward './PrivacyPolicy/style';
@use '~/global/index' as *;

.page {
  position: relative;
  height: 100%;
  padding: 16px;
  overflow: hidden;
}

.sign-in,
.sign-up,
.wait-confirm-email,
.confirmed-email {
  &__wrapper {
    @include absolute-center;
  }

  &__body {
    width: $container-sm;
    height: 250px;
  }

  form {
    position: absolute;
    top: 50px;
  }
}
