@import './SignIn/style';

@import './SignUp/style';

@import './WaitEmailConfirm/style';

@import './EmailConfirm/style';

@import './Main/style';

.page {
  position: relative;
  height: 100vh;
}

.sign-in,
.sign-up,
.wait-confirm-email,
.confirmed-email {
  &__logo {
    position: absolute;
    top: 1rem;
    left: 1rem;

    .logo {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__wrapper {
    @include absolute-center;
  }

  &__body {
    width: $container-sm;
    height: 200px;
  }

  form {
    position: absolute;
    top: 50px;
  }
}
