@import './SignIn/style';

@import './SignUp/style';

@import './WaitEmailConfirm/style';

@import './EmailConfirm/style';

@import './PasswordRecovery/style';

@import './Main/style';

@import './CreateNewPassword/style';

.page {
  position: relative;
  height: 100vh;
  padding: $gutter-lg;
}

.sign-in,
.sign-up,
.wait-confirm-email,
.confirmed-email {
  &__wrapper {
    @include absolute-center;
  }

  &__body {
    width: $container-sm;
    height: 250px;
  }

  form {
    position: absolute;
    top: 50px;
  }
}
