.app-form-item {
  $transition: 0.1s linear;

  margin-bottom: 8px;

  .app-form-item__error {
    display: flex;
    align-items: center;

    height: 0;
    margin-top: 4px;
    margin-left: 12px;

    font-size: 12px;
    color: var(--error);

    transition: $transition;
  }

  .app-form-item__error--active {
    height: 24px;
    transition: $transition;
  }

  .app-form-item__label {
    margin-bottom: 2px;
  }
}
