@use '~/global/index' as *;

.app-button {
  height: var(--medium-ui-height);
  border: solid 1px var(--text);
  border-radius: 4px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    height: var(--medium-ui-height);
    color: var(--text);
    background: transparent;
    border: none;
  }

  button:hover {
    cursor: pointer;
  }

  * {
    cursor: inherit;
  }

  span {
    padding-bottom: 2px;
  }

  .app-icon {
    margin: 0 4px;
    padding-bottom: 2px;
  }
}

.app-button:hover:not(.app-button--hoverless) {
  border-color: var(--accent);

  button,
  span,
  svg {
    color: var(--accent);
  }
}

.app-button--borderless {
  border: none;

  .app-icon {
    padding-bottom: 0;
  }
}

.app-button--loading {
  border-color: var(--accent);
  @include disabled;

  button {
    color: var(--accent);
  }
}

.app-button--disabled {
  @include disabled;
}

.app-button--accent-color {
  border-color: var(--accent);

  button,
  span {
    color: var(--accent);
  }
}

.app-button--success-color {
  border-color: var(--success);

  button,
  span {
    color: var(--success);
  }
}
