.app-scroll-down-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border: none;

  background: var(--modal-overflow-color);

  &:hover {
    cursor: pointer;
  }

  svg {
    color: var(--text);
  }
}

.app-scroll-down-button--hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 400ms ease;
}
