.contact-invitation-control-btns {
  display: flex;
  grid-gap: 8px;
  width: 100%;
  height: 18px;
}

.contact-invitation-control-btn__remove {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

