@use '~/global/index' as *;

.message-body {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;

  background: var(--dark-gray-transparent-3);

  .message-body__author {
    margin-bottom: 4px;
  }

  .message-body__additional-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .message-body__status {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 50%;
  }

  &.message-body--sending {
    &::after {
      @include bg-gradient-loader;
    }
  }

  &.message-body--undelivered {
    &::after {
      content: '';

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      opacity: 0.3;
      background: var(--error);
      @include absolute-center;
    }

    .message-body__status {
      background: none;
    }
  }

  &.message-body--delivered {
    .message-body__status {
      background: var(--text);
    }
  }

  &.message-body--read {
    .message-body__status {
      background: var(--accent);
    }
  }
}
