.contact-search {
  position: sticky;

  .ant-select {
    width: 100%;
  }

  .contact-search__global-search-header {
    margin-top: 8px;
  }

  .contact-search__search-type {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .ant-radio-button-wrapper {
    margin-right: 8px;
    padding: 0;
  }
}
