.message {
  $self: &;

  position: relative;
  display: flex;
  flex-direction: column;
  padding: $gutter-sm $gutter-md;
  overflow: hidden;
  border-radius: $radius-md;
  background-color: var(--dark-gray-transparent);

  .ant-image-mask {
    border-radius: 0;
  }

  &__images {
    display: flex;
    max-width: 310px;
  }

  &__image {
    max-width: 150px;
  }

  &__text {
    color: var(--secondary-text);
  }

  &__system-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__status {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 50%;
  }

  &__reactions {
    display: flex;
  }

  &__reaction {
    margin: 0 4px;
  }

  &--sending {
    &.message {
      border: 1px solid rgb(177 177 177 / 50%);
    }
    #{$self}__text {
      opacity: 0.5;
    }
    #{$self}__system-info {
      opacity: 0.5;
    }
    #{$self}__status {
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        @include wh-100;

        background: linear-gradient(
          -90deg,
          rgb(100 135 182 / 50%),
          var(--accent),
          rgb(100 135 182 / 50%),
          var(--accent)
        );
        background-size: 400% 400%;
        opacity: 0.9;
        animation: gradient 3s ease infinite;
        content: '';
      }
    }
  }

  &--undelivered {
    #{$self}__text {
      opacity: 0.5;
    }
    #{$self}__system-info {
      opacity: 0.5;
    }
    #{$self}__status {
      background-color: var(--error-text);
    }
  }

  &--delivered {
    #{$self}__status {
      background-color: var(--secondary-text);
    }
  }

  &--read {
    #{$self}__status {
      background-color: var(--accent);
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
