.call-modal-video {
  position: absolute;
  display: flex;
  @include wh-100;
  &__interlocutor-avatar {
    @include absolute-center;
    top: calc(50% - 20px);
  }
  &__interlocutor-audio-status {
    display: flex;
    align-items: center;
    .ui-icon {
      margin-right: $gutter-sm;
    }
    span {
      margin-right: 1.3rem;
      font-size: 1rem;
    }

    position: absolute;
    top: -1px;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0.7rem;
    background-color: var(--secondary-text);
  }

  &__settings {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    span {
      font-size: 1.5rem;
    }

    &:hover {
      color: var(--accent);
    }
  }

  &__interlocutor-video {
    position: absolute;
    @include wh-100;

    video {
      @include wh-100;

      object-fit: contain;
    }

    .ant-avatar {
      @include absolute-center;

      width: 150px;
      height: 150px;

      img {
        object-fit: cover;
      }

      svg {
        width: 100px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
