.call-modal-video {
  position: relative;
  display: flex;
  @include wh-100;

  &__interlocutor-video {
    @include wh-100;

    video {
      @include wh-100;

      object-fit: contain;
    }
  }

  &__user-video {
    width: 100%;
    height: 100%;
    border: solid 1px var(--secondary-text);
    border-radius: $md-radius;

    video {
      @include wh-100;

      object-fit: contain;
    }
  }

  &__settings {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    &:hover {
      color: var(--accent-color);
    }

    span {
      font-size: 1.5rem;
    }
  }
}
