@use '~/global/index' as *;

.app-loader {
  @include absolute-center;

  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--main-bg);

  .app-loader__content {
    width: 240px;
  }
}
