.ui-button {
  @mixin btn-style($color) {
    .ant-btn,
    .ant-btn:hover {
      color: $color;
      border-color: $color;
    }
  }

  &--accent {
    @include btn-style(var(--accent));
  }

  &--success {
    @include btn-style(var(--success));
  }

  &--default {
    @include btn-style(var(--secondary-text));
  }

  &--small {
    .ant-btn {
      width: 20px;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
    }
  }

  // &--large {
  // }

  &--hoverless {
    svg {
      color: var(--secondary-text);
    }

    &:hover {
      border-color: var(--secondary-text);

      svg {
        color: var(--secondary-text);
      }
    }
  }

  &--borderless {
    .ant {
      &-btn {
        padding: 0;
        border: none !important;
      }

      &-radio-button-wrapper {
        border: none !important;
      }
    }
  }

  .ant-btn {
    display: flex;
    align-items: center;
    color: var(--secondary-text);
    background-color: transparent;
    border-color: var(--secondary-text);

    &:hover {
      color: var(--accent);
      border-color: var(--accent);
    }

    &:disabled {
      color: var(--secondary-text);
      background-color: transparent;
      border-color: var(--secondary-text);
      opacity: 0.4;

      &:hover {
        color: var(--secondary-text);
        border-color: var(--secondary-text);
      }
    }

    .ant-radio-button-wrapper {
      display: flex;
      align-items: center;
    }
  }
}
