@use '~/global/index' as *;

.reply-message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
  background: var(--dark-gray-transparent-2);
  border-radius: 8px;

  .reply-message__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 8px;

    span {
      @include multiline-ellipsis(2);
    }
  }
}
