.ant-badge {
  display: flex;
  align-items: center;

  span {
    color: var(--white);
  }
}

.ant-badge-status-red {
  background: var(--error);
}

.ant-badge-status-green {
  background: var(--success);
}

.ant-scroll-number-only-unit {
  font-size: 12px;
}
