.page-layout {
  width: 100%;
  height: 100%;
  padding: 16px;

  .page-layout__wrapper {
    position: relative;
    height: 100%;
  }

  .app-logo {
    margin-bottom: 12px;
    margin-left: -12px;
  }

  .page-layout__outlet-body {
    overflow: auto;
    height: calc(100% - 48px);
  }

  .page-layout__top-side {
    display: flex;
  }
}
