.message-with-bind-data-popup {
  width: $container-sm;

  &__compress {
    display: flex;
    align-items: center;
    margin-bottom: $gutter-lg;

    span {
      margin-right: $gutter-md;
      white-space: nowrap;
    }

    .ui-switch label {
      width: 70px;
    }
  }

  &__images-wrapper {
    display: grid;
    grid-gap: $gutter-sm;
    grid-template-columns: repeat(2, 142px);
    margin-bottom: $gutter-lg;
  }

  &__image {
    border: 1px solid var(--secondary-text);
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .ant-image {
    height: 100%;

    &-img {
      height: 100%;
      object-fit: cover;
    }
  }
}
