@import './Components/ContactSearch/style';

.contact-list {
  padding: $aside-panel-padding;

  .ant-list-item-meta {
    display: flex;
    align-items: center;
  }

  .ant-btn-icon-only.ant-btn-lg {
    @include max-width-768 {
      width: 30px;
      height: 30px;
    }
  }
  &__controls {
    display: flex;
    .ui-button {
      margin: 0 $gutter-md;
    }
  }
}
