@use '~/global/index' as *;

.app-input {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: var(--medium-ui-height);

  .app-input__input-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
    @include focused-line;
  }

  .app-input__prefix-icon {
    margin-right: 8px;
  }

  .app-input__suffix-slot {
    position: absolute;
    right: 0;
  }

  .app-input__show-pass-btn {
    margin-left: 4px;
  }

  input {
    padding-top: 2px;
  }

  &.app-input--with-clear-btn {
    input {
      padding-right: 40px;
    }
  }

  &.app-input--focused {
    .app-input__input-wrapper {
      @include focused-line-active;
    }
  }

  &.app-input--disabled {
    @include disabled;
  }
}
