@use '~/global/index' as *;

.select-devices-modal {
  display: flex;
  flex-direction: column;
}

.audio-input-device-select {
  margin-bottom: 16px;

  .audio-input-device-select__volume-indicator-wrapper {
    position: relative;

    overflow: hidden;

    height: 7px;
    margin-top: 8px;
    border-radius: 8px;

    transition: ease-in-out 0.4s height;
    @include nm-inset-shadow;
  }

  .audio-input-device-select__volume-indicator-wrapper--hide {
    height: 0;
    margin-top: 0;
    transition: ease-in-out 0.4s height;
  }

  .audio-input-device-select__volume-indicator {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    background-color: var(--accent);
  }
}

.audio-output-device-select {
  position: relative;

  .audio-output-device-select__indicator {
    position: absolute;
    top: -11px;
    left: 130px;

    width: 5px;
    height: 5px;
    margin-top: 20px;
    border-radius: 50%;

    opacity: 0;
    background-color: var(--accent);
    box-shadow: 0 0 0 transparent;

    transition: opacity 0.3s ease, box-shadow 0.5s ease;
  }

  .audio-output-device-select__indicator--visible {
    opacity: 1;
    box-shadow: 0 0 3px var(--accent), 0 0 6px var(--accent), 0 0 8px var(--accent);
  }
}

.video-input-device-select {
  margin-bottom: 16px;

  .video-input-device-select__video {
    height: 210px;
    transition: ease-in-out 0.4s height;

    video {
      width: 100%;
      height: 100%;
      margin-top: 8px;
      border-radius: 8px;
    }
  }

  .video-input-device-select__video--hide {
    height: 0;
    transition: ease-in-out 0.4s height;
  }
}
