@use '~/global/index' as *;

// *important* overwrites browser inline styles

input {
  width: 100%;
  height: var(--medium-ui-height);

  @include nm-inset-element;

  color: var(--text) !important;
  text-indent: 12px;
}

input::placeholder {
  padding-top: 10px;
  color: var(--contrast-text);
  opacity: 0.3;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  border: none;
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--text) !important;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 0 30px var(--main-bg) inset !important;
  }
}
