.user-data-settings-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $container-sm;
  margin-top: $gutter-lg;
  &__image {
    margin-bottom: $gutter-xl;
  }
  &__controls {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: flex-end;
    }
  }
}
