@use '~/global/index' as *;

.workspace-layout {
  position: relative;
  display: flex;
  height: calc(100% - $bar-height - 16px);

  @include max-width-768 {
    height: calc(100% - ($bar-height * 2) - (16px * 2));
  }
}

.workspace-layout--with-minified-call-window {
  height: calc(100% - $bar-height - $call-bar-height - (16px * 2));
  @include max-width-768 {
    height: calc(100% - ($bar-height * 2) - ($call-bar-height) - (16px * 3));
  }
}
