.app-image-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 12px;

  .app-image-preview__preview-item {
    position: relative;
  }

  .app-image-preview__remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--dark-gray-transparent-3);

    path {
      fill: var(--white);
    }
  }
}
