.user-settings {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  .user-settings__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 16px 32px;
  }

  .user-settings__top-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
  }

  .user-settings__switchers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-profile-data {
    margin-bottom: 24px;
  }

  .user-settings__element {
    margin-bottom: 8px;

    > div:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .app-text {
      margin-bottom: 4px;
    }
  }

  .user-settings__title {
    margin-bottom: 8px;
    text-align: center;
  }

  .user-settings__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-settings__info-package-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
  }
}
