.registration {
  .sign-up__privacy-policy {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .sign-up__privacy-policy-text {
    margin-bottom: 26px;
  }
  .switch {
    margin-right: 8px;
  }
  .switch__value-text {
    left: 34px;
  }
}
