.app-scroll-container {
  scrollbar-color: var(--text) transparent;
  scrollbar-width: none;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--text);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--text);
  }

  &.app-scroll-container--has {
    scrollbar-width: thin;
  }

  &.app-scroll-container--show {
    scrollbar-width: thin;
  }
}
