.short-chat-list {
  max-height: 200px;
  padding: 16px 4px 4px;
}

.short-chat-list__container {
  overflow: auto;
  height: 180px;
}

.short-chat-list__subtitle {
  margin-top: 8px;
  color: var(--text);
}

.short-chat-list__item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: var(--dark-gray-transparent);
  }

  .ant-image {
    margin-top: 4px;
  }
}

.short-chat-list__name {
  margin-left: 8px;
}
