.main {
  position: relative;

  overflow: hidden;
  display: flex;

  height: 100%;
  padding: 12px;

  .main__wrapper {
    display: flex;
    width: 100%;
  }

  .main__right-side {
    width: 100%;
  }
}
