@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-center-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);

  width: 300px;
}

@mixin flex-total-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin wh-100 {
  width: 100%;
  height: 100%;
}

@mixin bg-gradient-loader() {
  @include wh-100;

  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(1.1);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  color: var(--text);

  background: linear-gradient(270deg, var(--dark-gray-transparent-3), var(--main-bg), var(--dark-gray-transparent-3));
  background-position: 0% 50%;
  background-size: 600% 100%;

  transition: transform ease-in-out 0.4s;
  animation: gradient-slide 3s ease infinite;
}

@mixin disabled {
  pointer-events: none;
  opacity: 0.8;
  filter: blur(0.8px);
}

@mixin focused-line {
  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);

    width: 100%;
    height: 2px;

    opacity: 0;
    background: var(--accent);

    transition: opacity 0.2s ease, transform 0.2s ease;
  }
}

@mixin focused-line-active {
  &::before {
    transform: scaleX(1);
    opacity: 1;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-ellipsis($lines: 3) {
  overflow: hidden;
  display: -webkit-box; // stylelint-disable-line value-no-vendor-prefix
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  text-overflow: ellipsis;
  word-break: break-word;
}
