span.app-text--extra-small,
p.app-text--extra-small {
  font-size: 11px;
}

span.app-text--small,
p.app-text--small {
  font-size: 12px;
}

span.app-text--medium,
p.app-text--medium {
  font-size: 14px;
}

span.app-text--large,
p.app-text--large {
  font-size: 16px;
}

.app-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text);
}

.app-text--accent-color {
  color: var(--accent);
}

.app-text--error-color {
  color: var(--error);
}

.app-text--warn-color {
  color: var(--warn);
}

.app-text--left {
  text-align: left;
}

.app-text--center {
  text-align: center;
}

.app-text--right {
  text-align: right;
}
