.call-list {
  &__body {
    .ant-list-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0.5rem 1rem;
      overflow: hidden;
      &-meta {
        display: flex;
        align-items: center;
      }
    }
  }

  &__item {
    &--missed,
    &--not-answered {
      background-color: var(--error-bg);
    }
  }

  &__type {
    display: flex;
  }

  &__called-at {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      color: var(--accent);
      font-size: 10px;
    }
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;

    p {
      margin-left: $gutter-sm;
    }

    &--missed,
    &--not-answered {
      color: var(--error);
      .ui-icon--phone-call {
        transform: rotate(135deg);
      }
    }
  }
}
