@use '~/global/index' as *;

html {
  --real-1-percent-vh: 100vh;
  --chat-rooms-width: 35%;

  overflow: hidden;
  background-color: var(--main-bg);

  @include max-width-768 {
    --chat-rooms-width: 40%;
  }
}

#root {
  position: relative;
  width: 100vw;
  height: calc(var(--real-1-percent-vh) * 100);
  background-color: var(--main-bg);
}

* {
  user-select: none;
  font-family: 'Montserrat, Helvetica', sans-serif;
  font-weight: 400;

  -webkit-touch-callout: none;
}

h1,
h2,
h3,
h4,
h5,
span,
summary,
li,
p {
  color: var(--text);
}
