@use '~/global/index' as *;

html {
  overflow: hidden;
  background-color: var(--main-bg);

  --real-1-percent-vh: 100vh;
  --chat-rooms-width: 35%;

  @include max-width-768 {
    --chat-rooms-width: 40%;
  }
}

#root {
  position: relative;
  width: 100vw;
  height: calc(var(--real-1-percent-vh) * 100);
  background-color: var(--main-bg);
}

* {
  font-weight: 400;
  font-family: 'Montserrat, Helvetica', sans-serif;
  -webkit-touch-callout: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
span,
summary,
p {
  color: var(--text);
}

::-webkit-scrollbar {
  width: 4px;
  height: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 4px;
}
