.header-text {
  color: var(--text);
  font-size: 14px;
  line-height: 1;
}

.header-text--md {
  font-size: 20px;
}

.header-text--lg {
  font-size: 24px;
}

.paragraph-text {
  color: var(--text);
  font-size: 12px;
}

.paragraph-text--contrast {
  color: var(--contrast-text);
}

.paragraph-text--bold {
  font-weight: bold;
}

.paragraph-text--accent {
  color: var(--accent);
}

.paragraph-text--error {
  color: var(--error);
}

.paragraph-text--sm {
  font-size: 10px;
}

.paragraph-text--md {
  font-size: 14px;
}

.paragraph-text--center {
  text-align: center;
}
