.search-contact {
  position: sticky;

  .search-contact__found-el-quantity {
    margin-top: 8px;
  }

  .search-contact__list {
    margin-top: 8px;
    padding: 8px 0 8px 8px;
    border-radius: 8px;

    background: var(--main-bg);
  }

  .search-contact__footer-loader {
    display: flex;
    justify-content: center;
    padding: 8px 8px 0 0;
  }

  .search-contact__list-element {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
