.search-contact {
  position: sticky;

  .search-contact__list {
    padding: 8px 0;
    margin-top: 8px;
  }

  .search-contact__list-element {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
