.search-contact {
  position: sticky;

  .search-contact__dropdown {
    transform-origin: top center;
    overflow: hidden;
    max-height: 420px;
    transition: max-height 260ms linear;
  }

  .search-contact__dropdown--open {
    max-height: 420px;
  }

  .search-contact__dropdown--closing {
    pointer-events: none;
    max-height: 0;
  }

  .search-contact__found-el-quantity {
    margin-top: 8px;
  }

  .search-contact__list {
    margin-top: 8px;
    padding: 8px 0 8px 8px;
    border-radius: 8px;
    background: var(--main-bg);
  }

  .search-contact__footer-loader {
    display: flex;
    justify-content: center;
    padding: 8px 8px 0 0;
  }

  .search-contact__list-element {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;

    padding: 6px 8px 6px 0;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
