.audio-output-device-select {
  position: relative;

  .audio-output-device-select__indicator {
    position: absolute;
    top: -11px;
    left: 130px;

    width: 5px;
    height: 5px;
    margin-top: 20px;
    border-radius: 50%;

    opacity: 0;
    background-color: var(--accent);
    box-shadow: 0 0 0 transparent;

    transition: opacity 0.3s ease, box-shadow 0.5s ease;
  }

  .audio-output-device-select__indicator--visible {
    opacity: 1;
    box-shadow: 0 0 3px var(--accent), 0 0 6px var(--accent), 0 0 8px var(--accent);
  }
}
