.ui-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  // color: var(--secondary-text);
  &--accent {
    color: var(--accent);
  }
  &--default {
    color: var(--secondary-text);
  }
  &--large {
    svg {
      font-size: 7rem !important;
    }
  }
  &--success {
    svg {
      color: var(--success);
    }
  }
  &--error {
    svg {
      color: var(--error);
    }
  }

  &--loader {
    animation: rotation 1s infinite linear;
    font-size: 1.4rem;
  }
  &--call {
    svg {
      font-size: 1.1rem;
    }
  }
  &--mic {
    svg {
      font-size: 1.1rem;
    }
  }
  &--mic-muted {
    svg {
      font-size: 1.1rem;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
