.chat-room-list {
  &__create-chat {
    padding: $gutter-lg;
  }
  .divider {
    margin-top: $gutter-lg;
  }
  &__body {
    margin-left: 1px;
    .ant-list-item-meta-description {
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    .ant-list-item {
      // height: 62px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: $gutter-md $gutter-lg;
      border: none;
      cursor: pointer;
      transition: 0.2s linear all;
      // &:first-child {
      //   margin-top: 1px;
      // }

      &.active {
        border-left: 3px solid var(--accent) !important;

        // &:first-child {
        //   border-top-left-radius: $radius-md;
        // }
        @include max-width-768 {
          border: none !important;
          box-shadow: none;
        }
      }
    }

    .ant-list-item-meta {
      display: flex;
      align-items: center;
      min-width: 60%;
    }
    .ant-list-item-meta-description {
      height: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__unread-messages {
    margin-right: $gutter-md;
  }
}
