.chat-room-list {
  &__body {
    .ant-list-item-meta-description {
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    .ant-list-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: $aside-panel-padding;
      border: none;
      cursor: pointer;
      transition: 0.2s linear all;

      &:first-child {
        margin-top: 1px;
      }

      &.active {
        border-left: 5px solid var(--accent) !important;

        &:first-child {
          border-top-left-radius: $radius-md;
        }
        @include max-width-768 {
          border: none !important;
          box-shadow: none;
        }
      }
    }

    .ant-list-item-meta {
      align-items: center;
      min-width: 60%;
      margin-bottom: $gutter-sm;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__unread-messages {
    margin-right: $gutter-md;
  }
}
