.main-page {
  position: relative;
  display: flex;
  $self: &;
  &__wrapper {
    width: 100%;
    display: flex;
  }
  &__content {
    width: 100%;
  }
  &__body {
    position: relative;
    display: flex;
    height: calc(100% - $bar-height - $gutter-lg);
    @include max-width-768 {
      height: calc(100% - ($bar-height * 2) - ($gutter-lg * 2));
    }
  }
  &__body--call-minified {
    height: calc(100% - $bar-height - $call-bar-height - ($gutter-lg * 2));
    @include max-width-768 {
      height: calc(100% - ($bar-height * 2) - ($call-bar-height) - ($gutter-lg * 3));
    }
  }

  &.move-aside {
    .aside-panel {
      display: none;
    }
    .chat-room {
      margin-left: 0;
    }
  }
}
