html {
  background-color: var(--main-bg);
  overflow: hidden;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
}

* {
  font-weight: 400;
  font-family: 'Montserrat, Helvetica', sans-serif;
  -webkit-touch-callout: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--main-text);
}

::placeholder {
  opacity: 0.4;
}

form {
  width: 100%;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text);
  border-radius: $radius-sm;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--secondary-text) !important;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 0 30px var(--main-bg) inset !important;
  }
}

.nm-outset-shadow {
  @include nm-outset-shadow;
}

.pointer {
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
}

.transitionless {
  transition: all 0s linear;
}

.borderless {
  padding: 0;
  border: none !important;
}

.d-none {
  display: none;
}

.glow {
  @include glow;
}

.link {
  color: var(--accent);

  &:hover {
    cursor: pointer;
  }
}

.custom-badge {
  position: absolute;
  right: -6px;
  bottom: calc(100% - 24px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 14px;
  max-height: 1rem;
  padding: 8px;
  color: var(--main-bg);
  font-size: 10px;
  line-height: 0;
  background-color: var(--accent);
  border-radius: $radius-sm;

  &--error {
    color: var(--main-text);
    background-color: var(--error);
  }
}

html[theme='light'] {
  .call-modal__interlocutor-name {
    color: var(--main-bg);
  }

  .lds-ellipsis > * {
    background-color: var(--main-bg);
  }

  ::placeholder {
    color: var(--main-text);
  }
}
