html {
  background-color: var(--main-bg);
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--main-bg);
}

* {
  font-weight: 400;
  font-family: 'Montserrat, Helvetica', sans-serif;
  -webkit-touch-callout: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--main-text);
}

::placeholder {
  opacity: 0.4;
}

form {
  width: 100%;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text);
  border-radius: $radius-sm;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--secondary-text) !important;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 0 30px var(--main-bg) inset !important;
  }
}

.nm-outset-shadow {
  @include nm-outset-shadow;
}

.pointer {
  cursor: pointer;
}

.divider {
  width: 100%;
  background-color: var(--dark-gray);
  height: 1px;
}

.custom-badge {
  max-height: 1rem;
  position: absolute;
  right: -6px;
  background-color: var(--accent);
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 8px;
  border-radius: $radius-sm;
  max-width: 14px;
  bottom: calc(100% - 24px);
  line-height: 0;
  color: var(--main-bg);
  &--error {
    background-color: var(--error);
    color: var(--main-text);
  }
}
