.transitionless {
  transition: all 0s linear;
}

.borderless {
  padding: 0;
  border: none !important;
}

.d-none {
  display: none;
}

.glow {
  @include glow;
}

.link {
  color: var(--accent);

  &:hover {
    cursor: pointer;
  }
}
