// radio button
.ant-radio-button-wrapper {
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
  border: 1px solid var(--secondary-text) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: var(--accent-color) !important;
  border-color: var(--accent-text) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  box-shadow: none !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}

// switch
.ant-switch-checked {
  background: var(--accent-color) !important;
}

// button
.ant-btn {
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
  border-color: var(--secondary-text) !important;
  transition: background 0s;

  &:hover {
    color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
  }

  &--md {
    width: 100px !important;
    max-width: 100px !important;
  }
}

.ant-btn-primary {
  color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.ant-btn-primary[disabled] {
  color: var(--secondary-text) !important;
  border-color: var(--secondary-text) !important;
  opacity: 0.3;
}

.ant-btn-loading {
  opacity: 0.7;
}

.ant-btn::before {
  background: transparent;
}

// modal
.ant-modal-content,
.ant-modal-header {
  background: var(--main-bg) !important;
  border-bottom: none;
}

.ant-modal-content {
  padding: 0.5rem 0;
}

.ant-modal-title {
  color: var(--main-text) !important;
}

.ant-modal-close-x {
  color: var(--main-text) !important;
}

// input
.ant-input {
  transition: background 0s;
}

input {
  color: var(--main-text) !important;
  background: var(--main-bg) !important;
  border-color: var(--secondary-text) !important;
}

.ant-input-affix-wrapper {
  color: var(--main-text) !important;
  background-color: var(--main-bg) !important;
  border-color: var(--secondary-text) !important;
}

.ant-input-suffix span {
  color: var(--secondary-text) !important;
}

::placeholder {
  opacity: 0.4;
}

.ant-input:focus,
.ant-input-focused {
  border-color: var(--accent-color) !important;
}

.ant-input-status-error:not(.ant-input-disabled, .ant-input-borderless).ant-input {
  &-focused,
  &:focus,
  &:hover {
    border-color: var(--error-text) !important;
  }
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled, .ant-input-affix-wrapper-borderless).ant-input-affix-wrapper {
  border-color: var(--error-text) !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--accent-color) !important;
}

// select
.ant-select-selector {
  color: var(--main-text) !important;
  background: var(--main-bg) !important;
  border-color: var(--secondary-text) !important;
}

.ant-select-selection-placeholder,
.ant-select-arrow {
  z-index: 1;
  color: var(--secondary-text) !important;
}

// error
.ant-form-item-explain-error {
  color: var(--error-text);
  font-size: 12px;
}

// modal
.ant-modal-mask {
  background-color: var(--modal-overflow-color);
}

.ant-notification-notice {
  border: 1px solid var(--main-bg);
  border-radius: $sm-radius;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 100%), 0 6px 16px 0 rgb(0 0 0 / 25%), 0 9px 28px 8px rgb(0 0 0 / 15%) !important;

  &-success {
    background: var(--success-bg);
  }

  &-error {
    background: var(--error-bg);
  }

  &-info {
    background: var(--info-bg);
  }

  &-warning {
    background: var(--warn-bg);
  }
}

.ant-notification-notice-message {
  color: var(--main-text) !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-bottom: 0;
}

.anticon.ant-notification-notice-icon-error {
  color: var(--error-text);
}

.ant-notification-notice-close-x {
  color: var(--main-text) !important;
}

// list
.ant-list-header {
  padding-bottom: $gutter-sm;
  color: var(--secondary-text) !important;
  border: none !important;
}

.ant-list-item-meta-title {
  color: var(--secondary-text) !important;
}

.ant-list-item {
  border: none !important;
}

.ant-list-item-meta-description {
  color: var(--secondary-text) !important;
}

.ant-list-empty-text {
  color: var(--secondary-text) !important;
}

// tabs
.ant-tabs-tab-btn {
  color: var(--secondary-text) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--accent-color) !important;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-color: var(--secondary-text) !important;
}

.ant-tabs-tab {
  padding-top: 0;
}

// tooltip
html[tooltips='false'] {
  .ant-tooltip {
    display: none;
  }
}

// table
.ant-table-wrapper,
.ant-table-thead,
.ant-table-tbody,
.ant-table-cell {
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
}

// pagination
.ant-pagination-prev > button,
.ant-pagination-next > button {
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
}

.ant-pagination-item {
  color: var(--secondary-text) !important;
  background: var(--main-bg) !important;
}

// drop-down
.ant-dropdown {
  &-menu {
    padding: 0;
  }

  ul {
    background-color: var(--main-bg) !important;
    border-radius: $sm-radius;
    box-shadow: 0 0 7px var(--secondary-text) !important;

    li {
      color: var(--secondary-text) !important;

      &:first-child {
        border-top-left-radius: $sm-radius !important;
        border-top-right-radius: $sm-radius !important;
      }

      &:last-child {
        border-bottom-right-radius: $sm-radius !important;
        border-bottom-left-radius: $sm-radius !important;
      }
    }
  }
}

.ant-image-preview-img-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-image-mask {
  border-radius: 50%;

  span {
    margin-right: 0 !important;
  }

  &-info {
    font-size: 0;
  }
}

.ant-image-preview-operations-operation {
  display: none !important;
}
