.header-text {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1;

  &--secondary {
    color: var(--secondary-text);
  }

  &--accent {
    color: var(--accent);
  }

  &--left {
    margin-right: auto;
  }

  &--bold {
    font-weight: bold;
  }

  &--sm {
    font-size: 16px;
  }

  &--md {
    font-size: 20px;
  }

  &--lg {
    font-size: 24px;
  }

  &--xl {
    font-size: 32;
  }

  &--xxl {
    font-size: 40px;
  }

  &--tribal {
    font-family: 'Rajdhani, Helvetica', sans-serif;
  }
}

.paragraph-text {
  color: var(--main-text);
  font-size: 12px;

  &--bold {
    font-weight: bold;
  }

  &--accent {
    color: var(--accent);
  }

  &--error {
    color: var(--error);
  }

  &--secondary {
    color: var(--secondary-text);
  }

  &--sm {
    font-size: 10px;
  }

  &--md {
    font-size: 14px;
  }
}
