$aside-panel-padding: 1rem;
$aside-bar-width: 50px;
$bar-height: 50px;
$call-bar-height: 35px;
$input-message-height: 35px;
$container-sm: 300px;
$radius-sm: 4px;
$radius-md: 8px;
$gutter-sm: 4px;
$gutter-md: 8px;
$gutter-lg: 16px;
$gutter-xl: 32px;
$gutter-xxl: 46px;

html {
  --chat-room-list-width: 35%;

  @include max-width-768 {
    --chat-room-list-width: 40%;
  }
}
