.wait-confirm-email {
  .header-text {
    margin-bottom: $gutter-md;
  }

  &__not-received {
    margin-top: $gutter-md;
    margin-bottom: $gutter-lg;
  }

  &__attempts {
    display: flex;
    align-items: center;
    margin-top: $gutter-md;
  }
}
