@use '~/global/index' as *;

.wait-email-confirm {
  .wait-email-confirm__not-received {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .wait-email-confirm__counter {
    margin-top: 16px;
  }

  .wait-email-confirm__attempts {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .wait-email-confirm__actions {
    margin-top: 8px;
  }
}
