h2.app-header {
  font-size: 24px;
}

h3.app-header {
  font-size: 20px;
}

h4.app-header {
  font-size: 18px;
}

.app-header {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text);
}

.app-header--bold {
  font-weight: bold;
}

.app-header--accent {
  color: var(--accent);
}
