@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.app-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

.app-icon--large {
  width: var(--large-ui-height);
  height: var(--large-ui-height);

  svg {
    width: var(--large-ui-height);
    height: var(--large-ui-height);
  }
}

.app-icon--medium {
  width: var(--medium-ui-height);
  height: var(--medium-ui-height);

  svg {
    width: var(--medium-ui-height);
    height: var(--medium-ui-height);
  }
}

.app-icon--small {
  width: var(--small-ui-height);
  height: var(--small-ui-height);

  svg {
    width: var(--small-ui-height);
    height: var(--small-ui-height);
  }
}

.app-icon--fill {
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}

.app-icon--xs svg {
  width: var(--xs-ui-height);
  height: var(--xs-ui-height);

  svg {
    width: var(--xs-ui-height);
    height: var(--xs-ui-height);
  }
}

.app-icon--xxs svg {
  width: 16px;
  height: 16px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.app-icon--accent-color svg {
  color: var(--accent);
}

.app-icon--success-color svg {
  color: var(--success);
}

.app-icon--warn-color svg {
  color: var(--warn);
}

.app-icon--error-color svg {
  color: var(--error);
}

.app-icon--loader {
  animation: rotation 1s infinite linear;
}
